{% extends "layout.html" %}

{% block title %}
    home
{% endblock %}


{% block main %}
    <div class="jumbotron" style="background-color:rgba(52, 254, 170, 0.5);">
            <h1 class="display-3">Happy Day</h1>
            <p class="lead">take notes here</h2>
            <hr class="my-4">
            <h2>Sign In Here!</h2>
            <a class="btn btn-success btn-lg" href="{{ url_for('login') }}" role="button">Sign In</a>
            <h2>Haven't registered yet?<br>Sign Up now!</h2>
            <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
        </div>
    </div>
{% endblock %}